* {
    box-sizing: border-box;
}

:root {
    overflow-y: hidden;
}

body {
    margin: 0;

    width: 100vw;
    height: 100vh;

    font-family: var(--font-body);

    background: #eef8eb;
    color: #1a2c20;

    --font-body: Inter, sans-serif;

    --col-red: #f8809e;
}

input,
button,
select {
    font-family: inherit;
    font-size: 1em;
}